body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

td {
    background-image: url('../media/ground.png');
    height: 64px;
    width: 64px;
    background-size: cover;

}

