body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

table {

}

td {
    background-image: url('../media/ground.png');
    height: 24px;
    width: 24px;
    background-size: cover;

}

.cactus {
    background-image: url('../media/cactus1.png');
    background-size: cover;
    width: 24px;
    height: 24px;
}

