body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    position: relative;
    overflow-x: auto;
}

table {
    border: none;
}

td {
    background-image: url('../media/ground.png');
    height: 32px;
    width: 32px;
    background-size: cover;

}

.cactus {
    /*background-image: url('../media/cactus1.png');*/
    background-size: cover;
    width: auto;
    height: 29px;
}

#player {
    background-image: url('../media/pirate1/idle.png');
    background-size: cover;
    width: 28px;
    height: 28px;
    position: absolute;
}